.Lesson {
  float: left;
  text-align: left;
  padding: 15px;
  width: 100%;
  height: 100%;
  color: rgb(75, 67, 67);
  font-family: 'Open Sans', sans-serif;
}
  

.FormInstructions {
  font-style: italic;
  font-weight: 600;
}

.Danger:hover {
  background-color: red; 
}

.Edit:hover {
  background-color: rgb(250, 233, 77);
}

.Success:hover {
  background-color: rgb(100, 214, 72);
}
