
.AddForm {
  float: left;
  text-align: left;
  padding: 15px;
  width: 100%;
  height: 45vh; 
  color: rgb(75, 67, 67);
  font-family: 'Open Sans', sans-serif;
}
 

.FormInstructions {
  font-style: italic;
  font-weight: 600;
}
