
/* <table class="Table TableRounded"> */


.Table {
    border: solid 1px #DDEEEE;
    border-collapse: collapse;
    border-spacing: 0;
    font: normal 13px Arial, sans-serif;
}
.Table thead th {
    background-color: #DDEFEF;
    border: solid 1px #DDEEEE;
    color: #336B6B;
    padding: 10px;
    text-align: left;
    text-shadow: 1px 1px 1px #fff;
}
.Table tbody td {
    border: solid 1px #DDEEEE;
    color: #333;
    padding: 10px;
    text-shadow: 1px 1px 1px #fff;
}
.TableRounded {
    border: none;
}
.TableRounded thead th {
    background-color: #CFAD70;
    border: none;
    text-shadow: 1px 1px 1px #ccc;
    color: #333;
}
.TableRounded thead th:first-child {
    border-radius: 10px 0 0 0;
}
.TableRounded thead th:last-child {
    border-radius: 0 10px 0 0;
}
.TableRounded tbody td {
    border: none;
    border-top: solid 1px #957030;
    background-color: #EED592;
}
.TableRounded tbody tr:last-child td:first-child {
    border-radius: 0 0 0 10px;
}
.TableRounded tbody tr:last-child td:last-child {
    border-radius: 0 0 10px 0;
} 