:local(.MainNav) {
  color: rgb(139, 105, 131);
  background-color: rgb(180, 180, 189);
  margin-top: 5px; 
  border-radius: 15%;
  /* border-top-left-radius: 15%; */
  /* border-top-right-radius: 15%; */
}

:local(.Item:hover) {
  font-style: italic;
  background-color: rgb(133, 133, 146); 
  border-radius: 30%;
}

:local(.Logo) {
  border-radius: 50%;
  animation: Logo-spin infinite 30s linear;
  height: 100 px;
}

@keyframes Logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}